In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('D:\DATA 30\student_dataset_dirty.csv')

In [3]:
df.head()

,Student_ID,Name,Gender,Age,Study_Hours,Attendance(%),Previous_Score,Parental_Education,Internet_Access,Part_Time_Job,Marks,Grade
0,S00001,Saanvi Sharma,F,17.0,2.4,81,75,Postgraduate,NaN,N,29.9,D
1,S00002,Rohan Verma,M,22.0,7.9,55,62,Postgraduate,Y,N,33.3,A+
2,S00003,Arjun Verma,Male,23.0,6.3,74,64,Undergraduate,No,N,32.0,B
3,S00004,Ananya Patel,NaN,24.0,5.5,72,65,NaN,NaN,Y,32.5,B
4,S00005,Sara Singh,Male,25.0,5.1,57,69,Undergraduate,Yes,NaN,28.4,B

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Student_ID          10000 non-null  object
 1   Name                10000 non-null  object
 2   Gender              8014 non-null   object
 3   Age                 8164 non-null   float64
 4   Study_Hours         9972 non-null   float64
 5   Attendance(%)       9982 non-null   object
 6   Previous_Score      9974 non-null   object
 7   Parental_Education  7972 non-null   object
 8   Internet_Access     7972 non-null   object
 9   Part_Time_Job       7957 non-null   object
 10  Marks               10000 non-null  float64
 11  Grade               7194 non-null   object
dtypes: float64(3), object(9)
memory usage: 937.6+ KB

In [5]:
df.groupby(by='Gender')['Marks'].mean()

Gender
F         31.997281
Female    31.901636
M         31.955091
Male      31.995298
Name: Marks, dtype: float64

In [6]:

df['Gender'] = df['Gender'].str.strip().replace({
    'F': 'Female',
    'Female': 'Female',
    'M': 'Male',
    'Male': 'Male'
})

In [7]:
df.groupby(by='Gender')['Marks'].mean()

Gender
Female    31.949088
Male      31.974919
Name: Marks, dtype: float64